<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.board.QnaMapper">
		
		<sql id="search">
			WHERE
			<choose>
				<when test="kind=='title'">TITLE</when>
				<when test="kind=='contents'">CONTENTS</when>
				<otherwise>WRITER</otherwise>
			</choose>
			LIKE '%'||#{search}||'%'
		</sql>


	<select id="getList" parameterType="Pager" resultType="QnaVO">
		SELECT * FROM QNA 
		<include refid="search"></include>
		ORDER BY NUM DESC 
		LIMIT #{startRow}, #{perPage}
	</select>

	<select id="getDetail" parameterType="QnaVO" resultMap="getDetailResult">
		SELECT Q.*, QF.fileName, QF.oriName  
		FROM QNA Q
		LEFT JOIN
		QNAFILES QF
		ON Q.NUM = QF.NUM
		WHERE Q.NUM = #{num}
	</select>

	<insert id="setAdd" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="num"> 
		INSERT INTO QNA
		VALUES (#{num}, #{writer}, #{title}, #{contents}, 0, sysdate(), 0, 0, 0)
	</insert>
	
	<insert id="setFiles" parameterType="QnaFileVO">
		INSERT INTO QNAFILES
		VALUES (0, #{num}, #{fileName}, #{oriName})
	</insert> 
	
	<resultMap type="QnaVO" id="getDetailResult">
		<id column="NUM" property="num"/>
			<result column="TITLE" property="title"/>
			<result column="WRITER" property="writer"/>
			<result column="CONTENTS" property="contents"/>
			<result column="HIT" property="hit"/>
			<result column="REGDATE" property="regDate"/>
			<result column="REF" property="ref"/>
			<result column="STEP" property="step"/>
			<result column="DEPTH" property="depth"/>
		<collection property="fileVOs" javaType="List" ofType="QnaFileVO">
			<id column="FILENUM" property="fileNum"/>
				<result column="FILENAME" property="fileName"/>
				<result column="ORINAME" property="oriName"/> 
		</collection>	
	</resultMap>
	
</mapper>